# .gitattributes file for picosdk-ps3000a-matlab-instrument-driver

help/* linguist-documentation 

# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Source and output files
*.m text
*.xml text
*.html text

# Recommended by MathWorks

*.mlx -crlf -diff -merge
*.mat -crlf -diff -merge
*.fig -crlf -diff -merge
*.p -crlf -diff -merge
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge

# Microsoft Windows operating system

*.dll -crlf -diff -merge

# Linux operating system

*.so -crlf -diff -merge